 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
 body {
  background: #F5F5F1;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;

}

section {
  @include outer-container;
}

li{
  @include span-columns(3);
  @include omega(3n);
  display: block;
  border: 2px solid white;
  height:220px;
  width:220px;
  margin: 5px;
  font-size: 12px;
  background: white;
  padding: 0;
  margin-top: 0;
  border-radius: 3px;

img{
  height: 170px;
  width: 208px;
  margin: 0 auto;
  display: block;
  border-radius: 1px;
  position: relative;
}
}

p{
  margin: 0;
}

.t{
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 5px;
}
.cc{
  float:right;
  margin-left: 3px;
  color: HSLA(94, 50%, 51%, 1);
  margin-top: 5px;
  margin-right: 5px;
}
.p{
  float:right;
  color: HSLA(94, 50%, 51%, 1);
  margin-top: 5px;
}
.sn{
  float:left;
  width: 50px;
  color: lightgray;
  margin-top: 5px;
  margin-left: 5px;
}

li:hover{
  box-shadow: 0 0 1em #888888;
}
