 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
header{
  background-color: white;
  height: 80px;
  width: 100%;
}
.etsy{
  font-family: 'Times New Roman';
  color:HSLA(17, 68%, 49%, 1);
  font-size: 35px;
  display: inline-block;
  width: 150px;
}
form{
  display: inline-block;
  border-radius: 5px;
}
input{
  border-radius: 3px;
  font-size: .9em;
}

input.input{
  height: 34px;
  width: 260px;
  margin-right: 0;
  padding: 0;
}

input.button{
  background-color: HSLA(194, 52%, 58%, 1);
  color: white;
  font-family:'Arial';
  font-size: .7em;
  width: 82px;
  height:34px;
  margin-left: -5px;
  padding: 0;

}

 body {
  background: #F5F5F1;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;

}

section {
  @include outer-container;
   float: right;
   display: block;
   margin-right: 150px;
   margin-top: 130px;
}

li{
  @include span-columns(3);
  @include omega(3n);
  display: block;
  border: 2px solid white;
  height:220px;
  width:220px;
  margin: 5px;
  font-size: 12px;
  background: white;
  padding: 0;
  margin-top: 0;
  border-radius: 3px;
  position: relative;

img{
  height: 170px;
  width: 208px;
  margin: 0 auto;
  display: block;
  border-radius: 1px;


}
}

p{
  margin: 0;
}

.t{
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 5px;
}
.cc{
  float:right;
  margin-left: 3px;
  color: HSLA(94, 50%, 51%, 1);
  margin-top: 5px;
  margin-right: 5px;
}
.p{
  float:right;
  color: HSLA(94, 50%, 51%, 1);
  margin-top: 5px;
}
.sn{
  float:left;
  width: 50px;
  color: lightgray;
  margin-top: 5px;
  margin-left: 5px;
}

li:hover{
  box-shadow: 0 0 1em #888888;
}


.hover{
  visibility: hidden;
  width: 50px;
  height: 50px;
  display: block;
  margin: 0;
}

.sidebar{
  float:left;
  width: 224px;
  height: 1130px;
  background-color: white;
  border-radius: 5px;
  display: block;
  margin: 0;
  clear: right;
  margin-left: 145px;
  margin-top: 132px;
  margin-right: 0px;
}
    .box{
      height:25px;
      width:25px;
      top:5px;
      right:10px;
      position:absolute;
      background-color:gray;
      display:none;
      border-radius:2px;
      opacity: .5;

}
    .box2{
      height:25px;
      width:25px;
      top:5px;
      right:40px;
      position:absolute;
      background-color:gray;
      display:none;
      border-radius:2px;
      opacity: .5;
    }

    li.showButtons .box, li.showButtons .box2 {
        display: block;
    }
